@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-wrapper {
    background: url('/hero-bg.png');
    background-position: 50%;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
}

.bg-gradient {
    background: linear-gradient(134.8deg, #FFAE47 10.78%, #E97FB6 36.46%, #B36FCF 58.59%, #8261E8 76.74%, #8060E9 77.63%, #1492CC 95.78%);
}
